@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

body {
    width: 100%;
    height: 100%;
    font-family: 'Faster One', cursive;
    display: flex;
    flex-flow: column;
    margin: auto;
    align-items: center;
}

h1 {
    font-size: 40px;
}

#drummer-img {
    display: flex;
    flex-flow: column;
    margin: auto;
    align-items: center;
}
